html,
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img{
    max-width: 100%;
}

.inner__site{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #c60969;
    color: #fff;
    text-align: center;
    z-index: 10;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.header .inner__site{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header nav{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}
.header nav li{
    display: inline-block;
}
.header .item__menu--link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 .875rem;
    padding-bottom: 0.25rem;
    background-image: url('../img/icons/icon__onda.svg');
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 40px auto;
    line-height: 24px;
}
.header .item__menu--link.shop__cart{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background-image: none;
    position: relative;
}
.header .item__menu--link.shop__cart .total__item__shop{
    position: absolute;
    top: 0;
    right: .35rem;
    background-color: #EF548D;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    line-height: 20px;
}

.header .logo__header{
    display: inline-block;
    float: left;
    max-height: 40px;
}

.soc__options {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}
.soc__options li{
    display: inline-block;
}

.close__menu{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}
.close__menu:focus,
.close__menu:active{
    outline: none;
    border: none;
}


/* icons */

.icon__sev{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 18px;
    width: 32px;
    height: 32px;
}
.icon__sev.yt{
    background-image: url('../img/icons/icon__yt.svg');
}
.icon__sev.fb{
    background-image: url('../img/icons/icon__fb.svg');
}
.icon__sev.tw{
    background-image: url('../img/icons/icon__tw.svg');
}
.icon__sev.fbpink{
    background-image: url('../img/icons/icon__fbpink.svg');
}
.icon__sev.twpink{
    background-image: url('../img/icons/icon__twpink.svg');
}
.icon__sev.print{
    background-image: url('../img/icons/icon__print.svg');
}
.icon__sev.in{
    background-image: url('../img/icons/icon__inst.svg');
}
.icon__sev.shop{
    background-image: url('../img/icons/icon__store.svg');
}

.icon__sev.marker{
    background-image: url('../img/icons/icon__marker.svg');
}
.icon__sev.tel{
    background-image: url('../img/icons/icon__tel.svg');
}
.icon__sev.mail{
    background-image: url('../img/icons/icon__mail.svg');
}
.icon__sev.camera{
    background-image: url('../img/icons/icon__camera.svg');
}
.icon__sev.playrecipe{
    background-image: url('../img/icons/play-button.svg');
}

.soc__options ul{
    margin: 0;
    padding: 0;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

footer{
    background-color: #000000;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 0;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer li{
    list-style: none;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer .block__direction p{
    display: flex;
    align-items: center;
}
footer .block__direction .icon__sev{
    margin-right: 0.5rem;
}
footer .block__sections a{
    line-height: 1.875em;
    text-decoration: none;
    transition: all linear .25s;
}
footer .block__sections a:hover{
    text-decoration: underline;
    color: #c60969;
}
.ctn__copy{
    border-top: 1px solid rgba(255,255,255,.3);
    padding: 2rem 0;
    margin-top: 2rem;
}
.ctn__copy p{
    margin-bottom: 0;
}
.ctn__foot__social{
    margin-top: 1.5rem;
}
.ctn__foot__social p{
    margin-bottom: 0.25rem;
}
.ctn__foot__social li{
    display: inline-block;
}
.ctn__form__news form{
    font-size: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.ctn__form__news form input{
    height: 50px;
    line-height: 50px;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 1rem;
    width: 100%;
}
.ctn__form__news form button{
    width: 50px;
    height: 50px;
    background-image: url('../img/icons/icon__arrow__right.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-color: #c60969;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
}

/* buttons */
.btn__sev{
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: all linear .25s;
}
.btn__sev:hover{
    text-decoration: none;
    color: #fff;
}

.btn__sev.pink__btn{
    background-color: #EF548D;
    border: 2px solid #EF548D;
}
.btn__sev.pink__btn:hover{
    background-color: #c60969;
    border: 2px solid #c60969;
}
.btn__sev.dark__pink__btn{
    background-color: #B52A69;
    border: 2px solid #B52A69;
}
.btn__sev.dark__pink__btn:hover{
    background-color: #c60969;
    border: 2px solid #c60969;
}
.btn__sev.normal__pink__btn{
    background-color: #c60969;
    border: 2px solid #c60969;
}
.btn__sev.normal__pink__btn:hover{
    background-color: #B52A69;
    border: 2px solid #B52A69;
}
.btn__sev.blue__btn{
    background-color: #0499D6;
    border: 2px solid #0499D6;
}

.btn__sev.outline__pink__btn{
    background-color: transparent;
    border: 2px solid #c60969;
    color: #c60969;
}
.btn__sev.outline__pink__btn:hover{
    background-color: #B52A69;
    border: 2px solid #c60969;
    color: #fff;
}

/* cards products */
.wrap__card .top__imageCard{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #EEE2EF;
    text-align: center;
    position: relative;
}
.wrap__card .top__imageCard.orange{
    background-color: #F0C1B4;
}
.wrap__card .top__imageCard.red{
    background-color: rgba(239,84,141,.2);
}
.wrap__card .top__imageCard.green{
    background-color: #C6E4AD;
}
.wrap__card .top__imageCard.blue{
    background-color: #DFF2F8;
}
.wrap__card .top__imageCard img{
    max-width: 100%;
    max-width: 150px;
    max-height: 150px;
}

.wrap__card{
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(182,142,105,.3);
    border-radius: 1rem;
}
.wrap__card .infoCard{
    justify-content: space-between;
    padding: 2rem 1rem 1.5rem;
}
.wrap__card .priceCard{
    padding: 0 1rem 1rem;
    font-size: 1.5rem;
}

.ctn__list__productos{
    margin-top: 72px;
}

.color__pink {
    color: #c60969;
}

.back__pink {
    background-color: #c60969;
}

.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 20px;
    margin-right: 5px;
}
.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}
.br-theme-css-stars .br-widget a.br-active:after {
    color: #EDB867;
}
.br-theme-css-stars .br-widget a.br-selected:after {
    color: #EDB867;
}
.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-css-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-css-stars .br-widget a:after {
        content: "\2606";
        color: black;
    }
    .br-theme-css-stars .br-widget a.br-active:after,
    .br-theme-css-stars .br-widget a.br-selected:after {
        content: "\2605";
        color: black;
    }
}


/* Recipes */

.card__recipe{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 8px;
    overflow: hidden;
}
.card__recipe.large{
    display: flex;
}
.card__recipe.large .wrap__img{
    width: 60%;  
    display: inline-block;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.card__recipe.large .wrap__img:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    background-color: #fff;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 99%, rgba(0,0,0,.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 99%,rgba(0,0,0,.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 99%,rgba(0,0,0,.8).8100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.card__recipe.large.video .wrap__img:after{
    top: 0;
    height: 100%;
}
.card__recipe.large .wrap__info__recipe{
    width: 40%;
    padding: 2rem;
}
.card__recipe.large .wrap__info__recipe .type__recipe{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #c60969;
}
.card__recipe.large .wrap__info__recipe .cat{
    font-size: 1rem;
    font-style: italic;
    color: #c60969;
}
.card__recipe.large .wrap__info__recipe .desc__recipe{
    font-size: 1rem;
    color: #000000;
}
.card__recipe.large .wrap__img span{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 2;
}

.card__recipe.large .wrap__img .playrecipe{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    margin: auto;
    display: inline-block;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: all linear .25s;
}
.card__recipe.large .wrap__img:hover .playrecipe{
    transform: scale(1.2,1.2);
}
.grid__recipes .card__recipe .wrap__img{
    min-height: 380px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.grid__recipes .card__recipe .wrap__img span{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 2;
}
.grid__recipes .card__recipe .wrap__img:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    background-color: #fff;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 99%, rgba(0,0,0,.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 99%,rgba(0,0,0,.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 99%,rgba(0,0,0,.8).8100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.grid__recipes .card__recipe .wrap__info__recipe{
    padding: 1.5rem;
}
.grid__recipes .card__recipe .type__recipe{
    font-size: 1.125rem;
    color: #c60969;
    font-weight: 600;
    margin-top: 1rem;
}
.grid__recipes .card__recipe .cat{
    font-size: 1rem;
    font-style: italic;
    color: #c60969;
    font-weight: 400;  
}
.grid__recipes .card__recipe .desc__recipe{
    font-size: 0.875rem;
    color: #000000;
}
.ctn__ingredients ul{
    list-style: none;
    padding-left: 0;
}
.ctn__ingredients ul li{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.5rem;
}
.ctn__ingredients ul li::before {
    content: "";
    display: inline-block;
    border: 2px solid #EF548D;
    width: .75em;
    height: .75rem;
    border-radius: 10px;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 4px;
}
.ctn__preparation ol{
    padding-left: 1rem;
}
.ctn__preparation ol li{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.wrap__card .weight__product{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: absolute;
    bottom: 0;
    right: 1rem;
    text-align: center;
    line-height: 70px;
    background-color: #fff;
    transform: translateY(50%);
    color: #c60969;
}
.wrap__card a{
    text-decoration: none;
    color: #000;
}

/* Header section */

.header__section{
    background-color: #c60969;
    background-image: url('../img/icons/mask__triangle.png'), url('../img/icons/mask__flower.png');
    background-size: 400px auto, auto 100%;
    background-repeat: no-repeat;
    background-position: 0 100%, 100% 0;
}

.header__section h1{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    font-weight: 700;
}
/* contacto */

.ctn__contacto{
    margin-top: 72px;
}

.ctn__contacto form input,
.ctn__contacto form textarea{
    border: 1px solid #000;
}
.ctn__contacto form label{
    color: #000;
    font-weight: 600;
    font-size: .875rem;
}

.ctn__text__site{
    margin-top: 72px;
}
.ctn__home__recipes.interior{
    background-color: #F2EDF2;
}


/* Responsive */
@media screen and (max-width: 1300px){
    .ctn__list__productos .list__products{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .content__text{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 1200px){
    footer .inner__site,
    .header .inner__site{
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 992px){
    .header .inner__site{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .header .logo__header{
        max-height: 32px;
    }
    .header .item__menu--link{
        font-size: 0.875rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .grid__recipes .card__recipe .wrap__img{
        min-height: 240px;
    }
    .grid__recipes .card__recipe .wrap__info__recipe{
        padding: 1rem;
    }
    .grid__recipes .card__recipe .desc__recipe{
        font-size: 0.75rem;
    }
    
}

@media screen and (max-width: 767px){
    .close__menu{
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 0;
        border: 0;
    }
    .close__menu svg{
        width: 48px;
        height: 48px;
        margin-top: -.5rem;
        margin-left: -.5rem;
    }
    
    .header .inner__site{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .header nav{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 48px;
        background-color: #c60969;
        padding: 2rem 2rem 6rem 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        top: 0;
        transition: all linear .25s;
    }
    .header .item__menu--link{
        line-height: 40px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .soc__options{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
    }
    .header.open nav{
        opacity: 1;
        visibility: visible;
        z-index: 1;
        top: 48px;
    }
    .header.open .soc__options{
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
    .close__menu{
        overflow: hidden;
    }
    footer .inner__site{
        text-align: center;
    }
    footer .block__direction{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    footer .block__direction p{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 2.5rem;
        text-align: left;
    }
    footer .block__direction .icon__sev{
        position: absolute;
        left: 0;
        top: 0;
    }
    footer .ctn__form__news{
        text-align: left;
    }
    .ctn__foot__social{
        margin-top: 3rem;
    }
    .block__sections a{
        margin-bottom: 0.5rem;
        display: inline-block;
        width: 100%;
    }
    .ctn__list__productos{
        margin-top: 48px;
    }
}

@media screen and (max-width: 640px){
    .card__recipe.large{
        flex-direction: column;
    }
    .card__recipe.large .wrap__img{
        width: 100%;
        min-height: 250px;
    }
    .card__recipe.large .wrap__info__recipe{
        width: 100%;
        padding: 1rem;
        
    }
    .card__recipe.large .wrap__info__recipe .type__recipe{
        font-size: 1.125rem;
    }
    .grid__recipes .card__recipe .desc__recipe,
    .card__recipe.large .wrap__info__recipe .desc__recipe{
        font-size: .875rem;
    }
    .grid__recipes .card__recipe{
        margin-bottom: 2.5rem;
    }
    .header__section h1{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
    }
    .header__section {
        background-color: #c60969;
        background-image: url(../img/icons/mask__triangle.png), url(../img/icons/mask__flower.png);
        background-size: 200px auto, auto 100%;
        background-repeat: no-repeat;
        background-position: 0 100%, 100% 0;
    }
    .header__section h1{
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0;
    }
    .ctn__contacto{
        margin-top: 48px;
    }
    .inner__contact .row{
        margin-left: 0;
        margin-right: 0;
    }
    .content__text{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .ctn__text__site{
        margin-top: 48px;
    }
}